$transition-base: all 0.3s ease-in !default;

$font-primary: "Playfair Display";
$font-second: "Google Sans";

$color-primary: #ffe071;
$color-second: #fff5d2;
$color-third: #efffb3;
$color-blue: #97ecff;
$color-dark: #120a00;
$color-black: #120a00;
